.c-button {
    display: block;
    line-height: 1.6;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    border-bottom: solid 4px #627295;
    color: white;
    background-color: $button-color;
    padding: 5px;
    &:active {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        border-bottom: none;
    }
}
