.c-button {
    display: block;
    line-height: 1.6;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    background-color: #3490dc;
    padding: 5px;
}
