@charset "utf-8";

.c-itemlist {
	list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	max-width: 1110px;
	margin: 0 auto;
	padding: 0;
}
.c-card {
	position: relative;
    max-width: 220px;
    height: 380px;
	flex: 220px;
	padding: 10px;
	box-sizing: border-box;
	@include mq($breakpoint: md) {
		margin: 0 auto;
		margin-bottom: 30px;
		border: 1px solid rgba(0,0,0,0.125);
		border-radius: 5px;
	}
}

.c-card__description {
    margin-top: 3px;
	font-size:  12px;
}
