.c-form__group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
    @include mq($breakpoint: md) {
        width: 90%;
        margin-bottom: 15px;
      }
}

.c-form__label {
    text-align: right;
    display: block;
    width: 40%;
    margin-right: 25px;
    line-height: 40px;
    @include mq($breakpoint: md) {
        text-align: left;
        width: 100%;
    }
}

.c-form__item {
    width: 45%;
    margin-right: 10%;
    @include mq($breakpoint: md) {
        width: 100%;
    }
}

.c-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.c-form-check {
    margin-left: 185px;
    @include mq($breakpoint: md) {
        margin-left: 0;
    }
}

.c-form__button {
    margin: 0 auto;
}

.c-form__forget {
    @include mq($breakpoint: md) {
        display: block;
        margin-top: 10px;
    }
}

.c-invalid__feedback {
    font-size: $font-size_s;
    margin-top: 5px;
    color: $red;
    display: block;
}

.c-is-invalid {
    border-color: $red;
}

.c-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
}

.c-image__group {
    width: 140px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.c-pic__label {
    display: block;
    width: 140px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}