.c-page-title {
    margin: 30px 0;
    font-size: $font-size_xxl;
    text-align: center;
    @include mq($breakpoint: md) {
        font-size: $font-size_xl;
    }
}
.c-page-subtitle {
    margin: 30px 0;
    line-height: 40px;
    font-size: $font-size_xl;
    text-align: center;
}

.c-more{
    font-size: $font-size_m;
    margin-left: 10px;
}

