.p-card {
    &__small {
        height: 320px;
    }
    &__name {
        margin-top: 5px;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 700;
    }
    &__price {
        font-size: $font-size_xl;
        text-align: center;
    }
}
