// ==================================
// header
// ==================================
.p-header {
  padding-right: 30px;
  padding-left: 30px;
  color: $font-color_sub;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  @include mq($breakpoint: md) {
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
  &__title {
    color: $font-color_sub;
    font-size: $font-size_3l;
    font-family: $font-family_corp;
    font-weight: bold;
  }
}
