.main {
  background-color: #f4f8fa;
}

.p-container {
  margin: 0 auto;
  border-radius: 0.25rem;
  margin: 0 auto;
  @include mq($breakpoint: md) {
      padding-top: 80px;
  }
}

.p-page__wrapper {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
  margin: 0 auto;
  margin-bottom: 80px;
}

.p-container {
  margin: 0 auto;
  padding-top: 150px;  
}

.p-section__title {
  font-size: $font-size_xxl;
  margin-bottom: $space_xl;
}

.p-section__subtitle {
  font-size: $font-size_xxl;
  margin-bottom: $space_xl;
}

