// ==================================
// message
// ==================================
.p-message {
    background-color: $green;
    padding-top: 80px;
    text-align: center;
    line-height: 80px;
    color: white;
    @include mq($breakpoint: md) {
        padding-top: 60px;
        line-height: 60px;
    }
    &__no-product {
        text-align: center;
        margin-bottom: 50px;
    }
    &__success {
        color: $font-color-success;
        margin-bottom: 30px;
        text-align: center;
    }
}