.p-message {
    background-color: $green;
    padding-top: 80px;
    text-align: center;
    line-height: 80px;
    color: white;
}

.p-message_no-product {
    text-align: center;
    margin-bottom: 50px;
}

.p-success_message {
    color: $_sfont-coloruccess;
    margin-bottom: 30px;
    text-align: left;
}