.p-pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 20px auto;
    padding-bottom: 20px;
    border-radius: 4px;
}

.p-page {
    &__item {
        width: 25px;
        padding: 6px;
        border: 1px solid #ddd;
        &.active {
            background-color: #337ab7;
            border-color: #337ab7;
            .p-page__item-link{
                color: #fff;
            }
        }
    }
    &__prev {
        line-height: 40px;
        margin-right: 5px;
    }
    &__next {
        line-height: 40px;
        margin-left: 5px;
    }
}
