.p-page-title {
    &__large {
        margin: 30px 0;
        font-size: $font-size_3l;
        text-align: center;
        @include mq($breakpoint: md) {
            font-size: $font-size_xl;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__switch {
        font-size: $font-size_l;
        color: #999999;
        border-bottom: 1px solid #999999;
        padding:5px 10px;
        margin-right: 3px;
        cursor: pointer;
        &.active {
            color: $main-color;
            border-bottom:1px solid $main-color;
        }
        @include mq($breakpoint: md) {
            font-size: $font-size_m;
        }
    }
}