.p-page__title {
    &-wrapper {
        display: flex;
        justify-content: center;
    }
    &-switch {
        font-size: $font-size_l;
        color: #999999;
        border-bottom: 1px solid #999999;
        padding:5px 10px;
        margin-right: 3px;
        cursor: pointer;
        &.active {
            color: $main-color;
            border-bottom:1px solid $main-color;
        }
        @include mq($breakpoint: md) {
            font-size: $font-size_m;
        }
    }
}