
.p-pic {
    height: 200px;
    width: 300px;
    margin: 0 auto;
}

.p-pic__profile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
}

.p-pic__card {
    width: 200px;
    height: 150px;
}