
.p-pic {
    display: block;
    height: 200px;
    width: 300px;
    margin: 0 auto;
    @include mq($breakpoint: md) {
        height: 180px;
        width: 270px;
    }
}

.p-pic__profile {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}

.p-pic__card {
    width: 200px;
    height: 150px;
}