.p-product__detail {
    width: 280px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    font-size: $font-size_l;
}

.p-address__detail {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  &:first-line {
    text-align: center;
  }
}

.p-comment__detail {
  width: 280px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  &:first-line {
    text-align: center;
  }
}
