.p-productList {
    display: flex;
  }
  
.p-more {
margin-left: 5px;
}

.p-product__detail {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    font-size: $font-size_l;
}

.p-comment__detail {
  width: 300px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}


.p-comment__detail:first-line {
  text-align: center;
}