// ==================================
// layout
// ==================================
.l-container {
  width: 760px;
  @include mq($breakpoint: md) {
    width: 90%;
  }
  &__large {
    width: 1110px;
    @include mq($breakpoint: md) {
      width: 90%;
    }
  }
}
