.l-container {
  width: 760px;
  @include mq($breakpoint: md) {
    width: 100%;
  }
}

// .l-page__wrapper {
//   width: 760px;
//   @include mq($breakpoint: md) {
//     width: 100%;
//   }
// }

.l-container__large {
  width: 1100px;
  @include mq($breakpoint: md) {
    width: 90%;
  }
}